.home-airline-label {
  margin: 0 12px;
  display: inline;
}
.valign {
  vertical-align: 15% !important;
  font-size: 17px;
}

.upload-file-css {
  margin-bottom: 0 !important;
  color: #fff !important;
}
.filename-display {
  font-size: 13px;
}
